.idea/
lognormalslacks/MATLAB/

cloudjobs/google2011/
cloudjobs/google2019a/
cloudjobs/google2019e/

statisticaltraces/runningtrace/

code/project-1.py

code/test-code.py
code/testsettings.py
code/testalgorithm.py
code/runsetting.py

code/jobs-of-interest.txt
code/valuematrix.txt

code/120-1.py
code/120-2.py
code/120-3.py
code/120-4.py
code/120-5.py
code/120-6.py
code/30-1.py
code/30-2.py
