.idea/
lognormalslacks/MATLAB/
cloudjobs/google2011/
cloudjobs/google2019a/
statisticaltraces/runningtrace/
code/project-1.py
code/project-2.py
code/project-3.py
code/project-4.py
code/project-5.py
code/test-code.py
code/testsettings.py
code/testalgorithm.py
code/jobs-of-interest.txt
code/valuematrix.txt